.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding-top: 20px;
}
.footerdiv {
  display: flex;
  justify-content: center;
}
.foot {
  margin: 25px;
  text-align: left;
}
.foot p {
  font-size: 15px;
  margin: 1px;
}
.linefoot {
  height: 0.004rem;
  width: 80vw;
  background-color: var(--text-color);
}
.linefooter {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.footlogos img {
  height: 20px;
  width: auto;
  margin: 7px;
  margin-bottom: 15px;
}
span:hover {
  color: var(--btn-color);
  cursor: pointer;
}
