.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.footerdiv {
 display : flex;
 justify-content: center;

}
.foot {
     margin: 25px;
     text-align: left;
}
.foot p {
    font-size: 12px;
}
.linefoot {
    height: 0.004rem;
    width: 80vw;
    background-color: white;
}
.linefooter {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.footlogos img{
  height: 20px;
  width: auto;
  margin: 7px;
  margin-bottom: 15px;
}