

.servicescard {
    height:50vh;
    background-color: black;
    color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
.servicescard h1{
     margin-top: 0px;
     font-size: 50px;
     width: 60%;
}
.servedev {
    display:flex;
    margin: 10vh 12vw;
}
.servedev h1 {
  font-size: 6vh;
}
.servedev img{
    height: 350px;
    width: auto;
}
.dev {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.design {
     display: flex;
     align-items: center;
     margin-left: 50px;
}
.industry {
    background-color: black;
    color: white;
    display: flex;
    margin: 10vh 12vw;
    justify-content: center;
    align-items: center;
    padding:50px;
}
.industry h1 {
    margin-right: 45px;
    margin-left: 0px;
    font-size: 6vh;
}
.industryicons {
    margin-left: 50px;
}
.threeicon{
    display: flex;
}
.icons {
    text-align: center;
    margin: 20px;
    width: 100px;
}
.icons img {
    height: 35px;
    width:auto;
}
.linevertical {
    width: 1px;
    height:145px;
    background-color: white;
}
.technology {
    margin: 10vh 12vw;
    text-align: center;
}
.technology h1 {
    font-size: 6vh;
}
.technologyicons {
    display: flex;
    flex-wrap: wrap;
}
.technologyicons img {
    margin: 30px;
    height: 45px;
    width: auto;
}